on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    working-directory: cli

jobs:
  cicd:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - run: cd ../api && npm ci --prefer-offline --no-audit # TODO: remove this workaround with issue #50
      - run: npm ci --prefer-offline --no-audit
      - run: npm run check:format
      - run: npm run check:types
      - run: npm run build
      - run: npx semantic-release -e semantic-release-monorepo
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
